.jumbotron{
    background: none;
    margin: 0;
    padding-top: 15px;
}

.top{
    color: white;
}

body{
    background-image: url(../img/cinema-dark-display-8158.jpg);
    background-size: cover; 
    background-position: 50% -23%
   
}

.main{
    padding-left: 55px;
    padding-right:55px;
}

.card{
    border:0px;
}
